USE [finance-dq-dev-db]
GO
/****** Object:  Table [mdm].[DQ_Rules]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mdm].[DQ_Rules](
	[Source Name_Code] [varchar](250) NOT NULL,
	[Database_Name] [varchar](250) NOT NULL,
	[Table Name] [varchar](250) NOT NULL,
	[Column Name] [varchar](250) NOT NULL,
	[Dimension_Code] [varchar](250) NOT NULL,
	[Technical_Rule] [varchar](250) NOT NULL,
	[X] [varchar](250) NULL,
	[Y] [varchar](250) NULL,
	[Data Quality Rule] [varchar](1000) NOT NULL,
	[Supporting_CDE_Values] [varchar](1000) NULL,
	[HealthScoreFlag_code] [varchar](3) NULL,
	[Development_Status_code] [varchar](10) NOT NULL,
	[RequestType] [varchar](250) NULL,
	[Dashboard_Name_Code] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  View [mdm].[vw_DQ_Rules]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [mdm].[vw_DQ_Rules]
as
select
	[Source Name_Code],
	[Database_name],
	[Table Name],
	[Column Name],
	[Dimension_Code],
	[Technical_Rule],
	[X],
	[Y],
	[Data Quality Rule],
	[Supporting_CDE_Values],
	[HealthScoreFlag_Code],
	[Development_Status_Code],
	[RequestType],
	[Dashboard_Name_Code]
from mdm.DQ_Rules;
GO
/****** Object:  Table [mdm].[Critical]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mdm].[Critical](
	[Source_Code] [varchar](250) NOT NULL,
	[Database_Name] [varchar](250) NOT NULL,
	[Table_Name] [varchar](250) NOT NULL,
	[Attribute_Name_source] [varchar](250) NOT NULL,
	[Attribute_Name] [varchar](250) NULL,
	[Critical_Code] [varchar](10) NULL,
	[Active_code] [varchar](20) NULL,
	[Definition] [varchar](1000) NULL,
	[Level_1] [varchar](250) NULL,
	[Level_2] [varchar](250) NULL,
	[CDE Owner] [varchar](250) NULL,
	[CDE Owning Function] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  View [mdm].[vw_Critical]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [mdm].[vw_Critical]
as
select
    [Source_Code],
    [Database_Name],
    [Table_Name],
    [Attribute_Name_Source],
    [Attribute_Name],
    [Critical_Code],
    [Active_code],
    [Definition],
    [Level_1],
    [Level_2],
    [CDE Owner],
    [CDE Owning Function]
from mdm.Critical;
GO
/****** Object:  Table [mdm].[Source_Org]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mdm].[Source_Org](
	[Code] [varchar](50) NOT NULL,
	[Source_Name_Code] [varchar](250) NOT NULL,
	[Org_Name] [varchar](250) NULL,
	[Source_Org_Name] [varchar](250) NOT NULL,
	[Active_Code] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  View [mdm].[vw_Source_Org]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [mdm].[vw_Source_Org]
as
select
    [Code],
    [Source_Name_Code],
    [Org_Name],
    [Source_Org_Name],
    [Active_Code]
from mdm.Source_Org;
GO
/****** Object:  Table [mdm].[Source_Stakeholder]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mdm].[Source_Stakeholder](
	[Source_Name_Code] [varchar](250) NOT NULL,
	[Source_Group_Code] [varchar](250) NULL,
	[Region_Code] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  View [mdm].[vw_Source_Stakeholder]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [mdm].[vw_Source_Stakeholder]
as
select
    [Source_Name_Code],
    [Source_Group_Code],
    [Region_Code]
from mdm.Source_Stakeholder;
GO
/****** Object:  Table [mdm].[dashboard_ref]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mdm].[dashboard_ref](
	[Code] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [mdm].[vw_dashboard_ref]    Script Date: 11-09-2026 03:00:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [mdm].[vw_dashboard_ref]
as
select
    [Code]
from mdm.dashboard_ref;
GO
INSERT [mdm].[Critical] ([Source_Code], [Database_Name], [Table_Name], [Attribute_Name_source], [Attribute_Name], [Critical_Code], [Active_code], [Definition], [Level_1], [Level_2], [CDE Owner], [CDE Owning Function]) VALUES (N'Bolt', N'FINANCE_DQ_SOURCE_DEV', N'HZ_CUST_ACCOUNTS', N'ACCOUNT_NAME', N'Customer Account Name', N'Y', N'Y', N'Name of the customer account', NULL, NULL, NULL, NULL)
INSERT [mdm].[Critical] ([Source_Code], [Database_Name], [Table_Name], [Attribute_Name_source], [Attribute_Name], [Critical_Code], [Active_code], [Definition], [Level_1], [Level_2], [CDE Owner], [CDE Owning Function]) VALUES (N'Bolt', N'FINANCE_DQ_SOURCE_DEV', N'HZ_CUST_ACCOUNTS', N'ACCOUNT_NUMBER', N'Customer Account Number', N'Y', N'Y', N'Unique identitfier of the customer account', NULL, NULL, NULL, NULL)
INSERT [mdm].[Critical] ([Source_Code], [Database_Name], [Table_Name], [Attribute_Name_source], [Attribute_Name], [Critical_Code], [Active_code], [Definition], [Level_1], [Level_2], [CDE Owner], [CDE Owning Function]) VALUES (N'Bolt', N'FINANCE_DQ_SOURCE_DEV', N'HZ_PARTIES', N'PARTY_NAME', N'Party Name', N'Y', N'Y', N'Name of the customer party', NULL, NULL, NULL, NULL)
GO
INSERT [mdm].[dashboard_ref] ([Code]) VALUES (N'Finance')
GO
INSERT [mdm].[DQ_Rules] ([Source Name_Code], [Database_Name], [Table Name], [Column Name], [Dimension_Code], [Technical_Rule], [X], [Y], [Data Quality Rule], [Supporting_CDE_Values], [HealthScoreFlag_code], [Development_Status_code], [RequestType], [Dashboard_Name_Code]) VALUES (N'Bolt', N'FINANCE_DQ_SOURCE_DEV', N'HZ_CUST_ACCOUNTS', N'ACCOUNT_NAME', N'Completeness', N'Must have a value', NULL, NULL, N'Customer Account Name must have a value', N'ACCOUNT_NUMBER', N'Y', N'Active', N'New', N'Finance')
INSERT [mdm].[DQ_Rules] ([Source Name_Code], [Database_Name], [Table Name], [Column Name], [Dimension_Code], [Technical_Rule], [X], [Y], [Data Quality Rule], [Supporting_CDE_Values], [HealthScoreFlag_code], [Development_Status_code], [RequestType], [Dashboard_Name_Code]) VALUES (N'Bolt', N'FINANCE_DQ_SOURCE_DEV', N'HZ_CUST_ACCOUNTS', N'ACCOUNT_NUMBER', N'Completeness', N'Must have a value', NULL, NULL, N'Customer Account Number must have a value', N'ACCOUNT_NAME', N'Y', N'Active', N'New', N'Finance')
INSERT [mdm].[DQ_Rules] ([Source Name_Code], [Database_Name], [Table Name], [Column Name], [Dimension_Code], [Technical_Rule], [X], [Y], [Data Quality Rule], [Supporting_CDE_Values], [HealthScoreFlag_code], [Development_Status_code], [RequestType], [Dashboard_Name_Code]) VALUES (N'Bolt', N'FINANCE_DQ_SOURCE_DEV', N'HZ_CUST_ACCOUNTS', N'ACCOUNT_NUMBER', N'Uniqueness', N'Must be an unique value', NULL, NULL, N'Customer Account Number must be unique', N'ACCOUNT_NAME', N'Y', N'Active', N'New', N'Finance')
GO
INSERT [mdm].[Source_Org] ([Code], [Source_Name_Code], [Org_Name], [Source_Org_Name], [Active_Code]) VALUES (N'101', N'Bolt', N'Bolt - All', N'all', N'Y')
INSERT [mdm].[Source_Org] ([Code], [Source_Name_Code], [Org_Name], [Source_Org_Name], [Active_Code]) VALUES (N'102', N'1OM', N'1OM - All', N'all', N'Y')
INSERT [mdm].[Source_Org] ([Code], [Source_Name_Code], [Org_Name], [Source_Org_Name], [Active_Code]) VALUES (N'103', N'CIL', N'CIL - All', N'all', N'Y')
GO
INSERT [mdm].[Source_Stakeholder] ([Source_Name_Code], [Source_Group_Code], [Region_Code]) VALUES (N'Bolt', NULL, NULL)
INSERT [mdm].[Source_Stakeholder] ([Source_Name_Code], [Source_Group_Code], [Region_Code]) VALUES (N'1OM', NULL, NULL)
INSERT [mdm].[Source_Stakeholder] ([Source_Name_Code], [Source_Group_Code], [Region_Code]) VALUES (N'CIL', NULL, NULL)
GO

------------------------- lm_prd --------------------------
IF NOT EXISTS (
    SELECT 1
    FROM sys.schemas
    WHERE name = 'lm_prd'
)
BEGIN
    EXEC('CREATE SCHEMA lm_prd');
END;
GO

SELECT name
FROM sys.schemas
WHERE name = 'lm_prd';

-------- lm_prd.stg_Critical
CREATE TABLE [lm_prd].[stg_Critical](
    [Source] [nvarchar](max) NULL,
    [Database_Name] [nvarchar](max) NULL,
    [Table_Name] [nvarchar](max) NULL,
    [Attribute_Name_Source] [nvarchar](max) NULL,
    [Attribute_Name] [nvarchar](max) NULL,
    [Critical] [nvarchar](max) NULL,
    [Active] [nvarchar](max) NULL,
    [Definition] [nvarchar](max) NULL,
    [Level_1] [nvarchar](max) NULL,
    [Level_2] [nvarchar](max) NULL,
    [CDE_Owner] [nvarchar](max) NULL,
    [CDE_Owning_Function] [nvarchar](max) NULL,
    [Loaded_By] [nvarchar](max) NOT NULL,
    [Actual_Table_Name] [varchar](255) NULL,
    [Actual_Column_Name] [varchar](255) NULL
);
GO

-------------- lm_prd.Dim_Table --------------
CREATE TABLE [lm_prd].[Dim_Table]
(
    [Tablekey]            INT IDENTITY(1,1) NOT NULL,
    [Source_Name]         VARCHAR(250) NOT NULL,
    [Database_Name]       VARCHAR(250) NOT NULL,
    [Table_Name]          VARCHAR(250) NOT NULL,
    [Column_Name_Source]  VARCHAR(250) NOT NULL,
    [Attribute]           VARCHAR(250) NULL,
    [Critical]            VARCHAR(3) NULL,
    [Date_loaded]         DATETIME NULL,
    [Date_update]         DATETIME NULL,
    [Loaded_By]           VARCHAR(250) NOT NULL,
    [Active]              VARCHAR(3) NULL,

    CONSTRAINT [PK_lm_prd_Dim_Table]
        PRIMARY KEY CLUSTERED ([Tablekey] ASC),

    CONSTRAINT [UNQ_lm_prd_Dim_Table]
        UNIQUE NONCLUSTERED
        (
            [Source_Name],
            [Database_Name],
            [Table_Name],
            [Column_Name_Source]
        )
);

-------------- lm_prd.Dim_Rules --------------
CREATE TABLE [lm_prd].[Dim_Rules]
(
    [Rule_ID]                    INT IDENTITY(1,1) NOT NULL,
    [Tablekey]                   INT NOT NULL,
    [Dimension]                  VARCHAR(250) NOT NULL,
    [Rule_Description]           VARCHAR(250) NOT NULL,
    [X]                          VARCHAR(250) NULL,
    [Y]                          VARCHAR(250) NULL,
    [Business_Rule_Description]  VARCHAR(1000) NOT NULL,
    [Supporting_CDE_Values]      VARCHAR(1000) NULL,
    [Health_Score_Flag]          VARCHAR(3) NULL,
    [Active]                     VARCHAR(10) NOT NULL,
    [Date_loaded]                DATETIME NULL,
    [Date_Update]                DATETIME NULL,
    [Loaded_By]                  VARCHAR(250) NOT NULL,
    [Update_By]                  VARCHAR(250) NULL,
    [RequestType]                VARCHAR(250) NULL,
    [Dashboard_Name_Code]        VARCHAR(250) NULL,

    CONSTRAINT [PK_lm_prd_Dim_Rules]
        PRIMARY KEY NONCLUSTERED ([Rule_ID] ASC),

    CONSTRAINT [UNQ_lm_prd_Dim_Rules]
        UNIQUE NONCLUSTERED
        (
            [Rule_ID],
            [Tablekey],
            [Rule_Description]
        )
);

-------------- lm_prd.Dim_Source_Org --------------
CREATE TABLE [lm_prd].[Dim_Source_Org]
(
    [Source_Org_ID]    INT IDENTITY(1,1) NOT NULL,
    [Source_Name]      VARCHAR(250) NOT NULL,
    [Source_Org_Name]  VARCHAR(250) NULL,
    [Org_Id]           INT NULL,
    [Org_Name]         VARCHAR(250) NULL,
    [Active]           VARCHAR(10) NULL,
    [Date_loaded]      DATETIME NULL,
    [Date_Update]      DATETIME NULL,
    [Loaded_By]        VARCHAR(250) NOT NULL,
    [Update_By]        VARCHAR(250) NULL,

    CONSTRAINT [PK_lm_prd_Dim_Source_Org]
        PRIMARY KEY NONCLUSTERED ([Source_Org_ID] ASC),

    CONSTRAINT [UNQ_lm_prd_Dim_Source_Org]
        UNIQUE NONCLUSTERED
        (
            [Source_Name],
            [Source_Org_Name]
        )
);

-------------- lm_prd.Fact_rules --------------
CREATE TABLE [lm_prd].[Fact_Rules]
(
    [ID]             INT IDENTITY(1,1) NOT NULL,
    [Rule_ID]        INT NOT NULL,
    [Tablekey]       INT NOT NULL,
    [Snapshot_Date]  DATE NOT NULL,
    [Pass_Count]     BIGINT NULL,
    [Fail_Count]     BIGINT NULL,
    [Source_Org_ID]  INT NULL,
    [Date_loaded]    DATETIME NULL,
    [Loaded_By]      VARCHAR(250) NOT NULL,

    CONSTRAINT [PK_lm_prd_Fact_Rules]
        PRIMARY KEY CLUSTERED ([ID] ASC)
);


-------------- lm_prd.stg_Dim_Table --------------
CREATE TABLE [lm_prd].[stg_Dim_Table]
(
    [Source_Name]         VARCHAR(250) NOT NULL,
    [Database_Name]       VARCHAR(250) NOT NULL,
    [Table_Name]          VARCHAR(250) NOT NULL,
    [Column_Name_Source]  VARCHAR(250) NOT NULL,
    [Attribute]           VARCHAR(250) NULL,
    [Critical]            VARCHAR(3) NULL,
    [Date_loaded]         DATETIME NULL,
    [Loaded_By]           VARCHAR(250) NOT NULL,
    [Active]              VARCHAR(3) NULL
);

-------------- lm_prd.stg_Dim_Rules --------------
CREATE TABLE [lm_prd].[stg_Dim_Rules]
(
    [Source_Name]                VARCHAR(250) NOT NULL,
    [Database_Name]              VARCHAR(250) NOT NULL,
    [Table_Name]                 VARCHAR(250) NOT NULL,
    [Column_Name_Source]         VARCHAR(250) NOT NULL,
    [Dimension]                  VARCHAR(250) NOT NULL,
    [Rule_Description]           VARCHAR(250) NOT NULL,
    [X]                          VARCHAR(250) NULL,
    [Y]                          VARCHAR(250) NULL,
    [Business_Rule_Description]  VARCHAR(1000) NOT NULL,
    [Supporting_CDE_Values]      VARCHAR(1000) NULL,
    [Health_Score_Flag]          VARCHAR(3) NULL,
    [Active]                     VARCHAR(10) NOT NULL,
    [Date_loaded]                DATETIME NULL,
    [Loaded_By]                  VARCHAR(250) NOT NULL,
    [RequestType]                VARCHAR(250) NULL,
    [Dashboard_Name_Code]        VARCHAR(250) NULL
);

-------------- lm_prd.stg_Dim_Source_Org --------------
CREATE TABLE [lm_prd].[stg_Dim_Source_Org]
(
    [Source_Name]      VARCHAR(250) NOT NULL,
    [Source_Org_Name]  VARCHAR(250) NULL,
    [Org_Id]           INT NULL,
    [Org_Name]         VARCHAR(250) NULL,
    [Active]           VARCHAR(10) NULL,
    [Date_loaded]      DATETIME NULL,
    [Loaded_By]        VARCHAR(250) NOT NULL
);

-------------- lm_prd.stg_MDS_Source_Org --------------
CREATE TABLE [lm_prd].[stg_MDS_Source_Org]
(
    [Source_Name]      VARCHAR(250) NOT NULL,
    [Source_Org_Name]  VARCHAR(250) NULL,
    [Org_Id]           INT NULL,
    [Org_Name]         VARCHAR(250) NULL,
    [Active]           VARCHAR(10) NULL,
    [Loaded_By]        VARCHAR(10) NULL
);

-------------- lm_prd.stg_Fact_Rules --------------
CREATE TABLE [lm_prd].[stg_Fact_Rules]
(
    [Rule_ID]             INT NOT NULL,
    [Tablekey]            INT NOT NULL,
    [Source_Name]         VARCHAR(250) NOT NULL,
    [Database_Name]       VARCHAR(250) NOT NULL,
    [Table_Name]          VARCHAR(250) NOT NULL,
    [Column_Name_Source]  VARCHAR(250) NOT NULL,
    [Snapshot_Date]       DATE NOT NULL,
    [Pass_Count]          BIGINT NULL,
    [Fail_Count]          BIGINT NULL,
    [Source_Org_Name]     VARCHAR(100) NULL,
    [Date_loaded]         DATETIME NULL,
    [Loaded_By]           VARCHAR(250) NOT NULL
);

-------------- lm_prd.log_Execution --------------
CREATE TABLE [lm_prd].[log_Execution]
(
    [ExecutionLogId]  INT IDENTITY(1,1) NOT NULL,
    [Source]          VARCHAR(100) NULL,
    [Schema]          VARCHAR(100) NULL,
    [Database_Name]   VARCHAR(100) NULL,
    [Table_Name]      VARCHAR(100) NULL,
    [StartTime]       DATETIME NULL,
    [EndTime]         DATETIME NULL,
    [Duration]        INT NULL,
    [Success]         BIT NULL,
    [RowsProcessed]   BIGINT NULL,
    [Loaded_By]       VARCHAR(100) NULL,
    [Script]          VARCHAR(100) NULL,
    [Cluster_Name]    VARCHAR(200) NULL
);

-------------- lm_prd.log_notebook_error --------------
CREATE TABLE [lm_prd].[log_notebook_Error]
(
    [Rule_Id]             INT NULL,
    [Source]              VARCHAR(250) NULL,
    [Database_name]       VARCHAR(250) NULL,
    [Table_Name]          VARCHAR(250) NULL,
    [Column_Name_Source]  VARCHAR(250) NULL,
    [rule_description]    VARCHAR(250) NULL,
    [Error_Description]   VARCHAR(MAX) NULL,
    [Active_Rules]        VARCHAR(250) NULL,
    [Notebook_Name]       VARCHAR(250) NULL,
    [ErrorMessage]        VARCHAR(MAX) NULL,
    [Errorline]           VARCHAR(250) NULL,
    [ErrorDateTime]       DATETIME NULL,
    [Loaded_By]           VARCHAR(250) NULL
);

-----
ALTER TABLE [lm_prd].[Dim_Rules]
ADD DEFAULT (GETDATE()) FOR [Date_loaded];

ALTER TABLE [lm_prd].[Dim_Source_Org]
ADD DEFAULT (GETDATE()) FOR [Date_loaded];

ALTER TABLE [lm_prd].[Dim_Table]
ADD DEFAULT (GETDATE()) FOR [Date_loaded];

ALTER TABLE [lm_prd].[Dim_Table]
ADD DEFAULT (GETDATE()) FOR [Date_update];

ALTER TABLE [lm_prd].[Fact_Rules]
ADD DEFAULT (GETDATE()) FOR [Date_loaded];

ALTER TABLE [lm_prd].[log_Execution]
ADD DEFAULT (GETDATE()) FOR [StartTime];

ALTER TABLE [lm_prd].[log_Execution]
ADD DEFAULT ((0)) FOR [Success];

ALTER TABLE [lm_prd].[log_notebook_Error]
ADD DEFAULT (GETDATE()) FOR [ErrorDateTime];

ALTER TABLE [lm_prd].[stg_Dim_Rules]
ADD DEFAULT (GETDATE()) FOR [Date_loaded];

ALTER TABLE [lm_prd].[stg_Dim_Source_Org]
ADD DEFAULT (GETDATE()) FOR [Date_loaded];

ALTER TABLE [lm_prd].[stg_Dim_Table]
ADD DEFAULT (GETDATE()) FOR [Date_loaded];

ALTER TABLE [lm_prd].[stg_Fact_Rules]
ADD DEFAULT (GETDATE()) FOR [Date_loaded];

-----
ALTER TABLE [lm_prd].[Fact_Rules]
WITH CHECK ADD
FOREIGN KEY ([Rule_ID])
REFERENCES [lm_prd].[Dim_Rules] ([Rule_ID]);

ALTER TABLE [lm_prd].[Fact_Rules]
WITH CHECK ADD
FOREIGN KEY ([Tablekey])
REFERENCES [lm_prd].[Dim_Table] ([Tablekey]);

------- Views for lm_prd 

-- vw_Dim_Table

CREATE OR ALTER VIEW [lm_prd].[vw_Dim_Table]
AS

SELECT
      [Tablekey],
      [Source_Name],
      [Database_Name],
      [Table_Name],
      [Column_Name_Source],
      [Attribute],
      [Critical],
      [Active]

FROM [lm_prd].[Dim_Table];
GO

-- vw_Dim_Rules

CREATE OR ALTER VIEW [lm_prd].[vw_Dim_Rules]
AS

SELECT
      dim_rules.[Rule_ID],
      dim_rules.[Tablekey],
      dim_tbl.[Source_Name],
      dim_tbl.[Database_Name],
      dim_tbl.[Table_Name],
      dim_tbl.[Column_Name_Source],
      dim_tbl.[Attribute] AS [Attribute],
      dim_rules.[Dimension],
      dim_rules.[Rule_Description],
      dim_rules.[X],
      dim_rules.[Y],
      dim_rules.[Business_Rule_Description],
      dim_rules.[Supporting_CDE_Values],
      dim_rules.[Health_Score_Flag],
      dim_rules.[Active]

FROM [lm_prd].[Dim_Rules] dim_rules

LEFT JOIN [lm_prd].[Dim_Table] dim_tbl
    ON dim_tbl.Tablekey = dim_rules.Tablekey;
GO

-- vw_Fact_Rules

CREATE OR ALTER VIEW [lm_prd].[vw_Fact_Rules]
AS

SELECT
      fact.[Rule_ID],
      fact.[Tablekey],
      org.[Org_Id],
      fact.[Snapshot_Date],

      CASE
          WHEN fact.[Pass_Count] IS NULL THEN 0
          ELSE fact.[Pass_Count]
      END AS [Pass_Count],

      CASE
          WHEN fact.[Fail_Count] IS NULL THEN 0
          ELSE fact.[Fail_Count]
      END AS [Fail_Count],

      fact.[Pass_Count] + ISNULL(fact.[Fail_Count], 0) AS [Record_Count]

FROM [lm_prd].[Fact_Rules] fact

LEFT JOIN [lm_prd].[Dim_Source_Org] org
    ON fact.[Source_Org_ID] = org.[Source_Org_ID];
GO

-- vw_Dim_Date

CREATE OR ALTER VIEW [lm_prd].[vw_Dim_Date]
AS

SELECT DISTINCT
      fact.[Snapshot_Date],

      FORMAT(
          MONTH(fact.[Snapshot_Date]),
          '00'
      ) AS [Month],

      YEAR(fact.[Snapshot_Date]) AS [Year],

      CONCAT(
          YEAR(fact.[Snapshot_Date]),
          FORMAT(MONTH(fact.[Snapshot_Date]), '00')
      ) AS [MonthYear],

      FORMAT(
          fact.[Snapshot_Date],
          'MMM-yy'
      ) AS [Month-Year],

      DATEPART(
          QUARTER,
          fact.[Snapshot_Date]
      ) AS [Quarter],

      DATEPART(
          WEEK,
          fact.[Snapshot_Date]
      ) AS [Week],

      CASE
          WHEN latest.[Snapshot_Date] IS NOT NULL
          THEN 1
          ELSE 0
      END AS [Last6Snapshot_Flag]

FROM [lm_prd].[Fact_Rules] fact

LEFT JOIN
(
    SELECT DISTINCT TOP 6
        [Snapshot_Date]
    FROM [lm_prd].[Fact_Rules]
    ORDER BY [Snapshot_Date] DESC
) latest

ON latest.[Snapshot_Date] = fact.[Snapshot_Date];
GO

-------------------- Stored Procedures ----------------------

-- Delete staging table

create or alter procedure [lm_prd].[Delete_stg_tbl_DQCE_server]
	@schema nvarchar(255),
	@tablename nvarchar(255)
as
begin
	declare @sqlQuery nvarchar(max);
	set @sqlQuery='delete from ' + quotename(@schema) + '.' + quotename(@tablename);
	exec sp_executesql @sqlQuery
end;

go

-- Delete one specific source_name

create or alter procedure [lm_prd].[Delete_tbl_DQCE_server]
	@schema nvarchar(255),
	@tablename nvarchar(255),
	@source nvarchar(255)
as
begin
	declare @sqlQuery nvarchar(max);
	set @sqlQuery='delete from ' + quotename(@schema) + '.' + quotename(@tablename) + ' where Source_Name=@source';
	exec sp_executesql @sqlQuery, N'@source nvarchar(255)', @source;
end;

go

-- Update the log execution table

CREATE OR ALTER PROCEDURE [lm_prd].[log_UpdateExecution]
    @Database_Name varchar(100),
    @Schema varchar(100),
    @Table_Name varchar(100),
    @Loaded_By varchar(100),
    @RowsProcessed bigint,
    @Script varchar(100)
AS
BEGIN

    SET NOCOUNT ON;

    UPDATE [lm_prd].[log_Execution]
    SET
        EndTime = GETDATE(),
        Duration = DATEDIFF(SECOND, StartTime, GETDATE()),
        RowsProcessed = @RowsProcessed,
        Success = 1
    FROM [lm_prd].[log_Execution]
    WHERE ExecutionLogId =
    (
        SELECT MAX(ExecutionLogId)
        FROM [lm_prd].[log_Execution]
        WHERE Database_Name = @Database_Name
          AND [Schema] = @Schema
          AND Table_Name = @Table_Name
          AND Loaded_By = @Loaded_By
          AND Success = 0
          AND Script = @Script
    );
END;

GO

-- Merge critical with Dim_table

CREATE OR ALTER PROCEDURE [lm_prd].[Merge_Critical]
AS
BEGIN

    /* Convert -1 attribute names to NULL */
    UPDATE [lm_prd].[stg_Critical]
    SET Attribute_Name = NULL
    WHERE Attribute_Name = '-1';


    /* Update Dim_Table using Critical metadata */
    UPDATE dim

    SET
        dim.[Critical] = cri.[Critical],
        dim.[Date_Update] = GETDATE(),
        dim.[Attribute] = cri.[Attribute_Name],
        dim.[Active] = cri.[Active]

    FROM [lm_prd].[Dim_Table] dim

    INNER JOIN [lm_prd].[stg_Critical] cri

        ON LOWER(dim.[Database_Name]) =
           LOWER(cri.[Database_Name])

        AND LOWER(dim.[Table_Name]) =
            LOWER(cri.[Table_Name])

        AND LOWER(dim.[Column_Name_Source]) =
            LOWER(cri.[Attribute_Name_Source])

        AND LOWER(dim.[Source_Name]) =
            LOWER(cri.[Source]);
END;

GO

-- Merge Dim rules

CREATE OR ALTER PROCEDURE [lm_prd].[Merge_dimRules]
AS
BEGIN TRY

    DECLARE @loaded_by varchar(200);

    /* Match rules with Dim_Table to get Tablekey */
    SELECT
        dim.[Tablekey],
        stg_rules.[Dimension],
        stg_rules.[Rule_Description],
        stg_rules.[X],
        stg_rules.[Y],
        stg_rules.[Business_Rule_Description],
        stg_rules.[Supporting_CDE_Values],
        stg_rules.[Health_Score_Flag],
        stg_rules.[Active],
        stg_rules.[Date_loaded],
        stg_rules.[Loaded_By],
        stg_rules.[RequestType],
        stg_rules.[Dashboard_Name_Code]
    INTO #stg_Rules_table

    FROM [lm_prd].[stg_Dim_Rules] stg_rules

    JOIN [lm_prd].[Dim_Table] dim
        ON stg_rules.[Source_Name] = dim.[Source_Name]
        AND stg_rules.[Database_Name] = dim.[Database_Name]
        AND stg_rules.[Table_Name] = dim.[Table_Name]
        AND stg_rules.[Column_Name_Source]
            = REPLACE(dim.[Column_Name_Source], ' ', '_');


    SELECT DISTINCT
        @loaded_by = Loaded_By
    FROM #stg_Rules_table;


    /* Insert new rules or update existing rules */
    MERGE [lm_prd].[Dim_Rules] AS TGT
    USING #stg_Rules_table AS SRC

    ON (
        SRC.[Tablekey] = TGT.[TableKey]
        AND SRC.[Dimension] = TGT.[Dimension]
        AND SRC.[Rule_Description] = TGT.[Rule_Description]
        AND SRC.[Business_Rule_Description]
            = TGT.[Business_Rule_Description]
        AND ISNULL(SRC.[X], -1) = ISNULL(TGT.[X], -1)
        AND ISNULL(SRC.[Y], -1) = ISNULL(TGT.[Y], -1)
    )

    WHEN NOT MATCHED THEN

        INSERT (
            [TableKey],
            [Dimension],
            [Rule_Description],
            [X],
            [Y],
            [Business_Rule_Description],
            [Supporting_CDE_Values],
            [Health_Score_Flag],
            [Active],
            [RequestType],
            [Dashboard_Name_Code],
            [Date_loaded],
            [Loaded_By]
        )

        VALUES (
            SRC.[Tablekey],
            SRC.[Dimension],
            SRC.[Rule_Description],
            SRC.[X],
            SRC.[Y],
            SRC.[Business_Rule_Description],
            SRC.[Supporting_CDE_Values],
            SRC.[Health_Score_Flag],
            SRC.[Active],
            SRC.[RequestType],
            SRC.[Dashboard_Name_Code],
            SRC.[Date_loaded],
            SRC.[Loaded_By]
        )

    WHEN MATCHED THEN

        UPDATE SET
            TGT.[Supporting_CDE_Values] =
                SRC.[Supporting_CDE_Values],

            TGT.[Active] =
                SRC.[Active],

            TGT.[Health_Score_Flag] =
                SRC.[Health_Score_Flag],

            TGT.[RequestType] =
                SRC.[RequestType],

            TGT.[Dashboard_Name_Code] =
                SRC.[Dashboard_Name_Code],

            TGT.[Date_Update] =
                GETDATE(),

            TGT.[Update_By] =
                @loaded_by;


    /* Rules missing from latest load become inactive */
    UPDATE dim_rules

    SET
        dim_rules.[Active] = 'No',
        dim_rules.[Date_Update] = GETDATE(),
        dim_rules.[Update_By] = @loaded_by

    FROM [lm_prd].[Dim_Rules] dim_rules

    LEFT JOIN #stg_Rules_table SRC

        ON SRC.[Tablekey] = dim_rules.[TableKey]
        AND SRC.[Dimension] = dim_rules.[Dimension]
        AND SRC.[Rule_Description]
            = dim_rules.[Rule_Description]
        AND SRC.[Business_Rule_Description]
            = dim_rules.[Business_Rule_Description]
        AND SRC.[Health_Score_Flag]
            = dim_rules.[Health_Score_Flag]
        AND ISNULL(SRC.[X], -1)
            = ISNULL(dim_rules.[X], -1)
        AND ISNULL(SRC.[Y], -1)
            = ISNULL(dim_rules.[Y], -1)

    WHERE
        dim_rules.[Active] != 'No'
        AND dim_rules.[Active] != ISNULL(SRC.[Active], 'No');


    /* Standardize Active value */
    UPDATE [lm_prd].[Dim_Rules]
    SET [Active] = 'Yes'
    WHERE [Active] = 'Active';

END TRY

BEGIN CATCH

    THROW;

END CATCH;
GO

-- Merge Dim source org

CREATE OR ALTER PROCEDURE [lm_prd].[Merge_dimSourceOrg]
AS
BEGIN TRY

    DECLARE @loaded_by varchar(200);

    SELECT DISTINCT
        @loaded_by = Loaded_By
    FROM [lm_prd].[stg_Dim_Source_Org];


    MERGE INTO [lm_prd].[Dim_Source_Org] AS TGT

    USING
    (
        SELECT
            Source_Name,
            Source_Org_Name,
            Org_Id,
            Org_Name,
            Active,
            Date_loaded,
            Loaded_By

        FROM [lm_prd].[stg_Dim_Source_Org]

    ) AS SRC

    ON
        LOWER(TGT.Source_Name) =
        LOWER(SRC.Source_Name)

        AND LOWER(TGT.Source_Org_Name) =
            LOWER(SRC.Source_Org_Name)


    WHEN NOT MATCHED THEN

        INSERT
        (
            Source_Name,
            Source_Org_Name,
            Org_Id,
            Org_Name,
            Active,
            Date_loaded,
            Date_Update,
            Loaded_By,
            Update_By
        )

        VALUES
        (
            SRC.Source_Name,
            SRC.Source_Org_Name,
            SRC.Org_Id,
            SRC.Org_Name,
            SRC.Active,
            SRC.Date_loaded,
            NULL,
            SRC.Loaded_By,
            NULL
        );

END TRY

BEGIN CATCH
    THROW;
END CATCH;
GO

-- Merge Dim source org id

CREATE OR ALTER PROCEDURE [lm_prd].[Merge_dimSourceOrgID]
AS
BEGIN

    UPDATE dim

    SET
        dim.[Org_Id] = mds.[Org_Id],
        dim.[Org_Name] = mds.[Org_Name],
        dim.[Active] = mds.[Active],
        dim.[Date_Update] = GETDATE(),
        dim.[Update_By] = mds.[Loaded_By]

    FROM [lm_prd].[Dim_Source_Org] dim

    INNER JOIN [lm_prd].[stg_MDS_Source_Org] mds

        ON LOWER(dim.[Source_Name]) =
           LOWER(mds.[Source_Name])

        AND LOWER(dim.[Source_Org_Name]) =
            LOWER(mds.[Source_Org_Name]);

END;
GO

-- Merge Dim table --> stg_Dim_Table + stg_Critical = Dim_Table

CREATE OR ALTER PROCEDURE [lm_prd].[Merge_dimTable]
    @Source varchar(250)
AS
BEGIN TRY

    DECLARE @loaded_by varchar(200);

    SELECT DISTINCT
        Dim.[Source_Name],
        Dim.[Database_Name],
        Dim.[Table_Name],
        Dim.[Column_Name_Source],
        Dim.[Date_loaded],
        Dim.[Loaded_By],
        Crt.[Actual_Table_Name],
        Crt.[Actual_Column_Name]

    INTO #wh_stg_Dim_Table

    FROM [lm_prd].[stg_Dim_Table] Dim

    LEFT JOIN [lm_prd].[stg_Critical] Crt

    ON LOWER(LTRIM(RTRIM(dim.[Database_Name]))) =
    LOWER(LTRIM(RTRIM(Crt.[Database_Name])))

	AND LOWER(LTRIM(RTRIM(dim.[Table_Name]))) =
		LOWER(LTRIM(RTRIM(Crt.[Table_Name])))

	AND LOWER(LTRIM(RTRIM(dim.[Column_Name_Source]))) =
		LOWER(LTRIM(RTRIM(Crt.[Attribute_Name_Source])))

	AND LOWER(LTRIM(RTRIM(dim.[Source_Name]))) =
		LOWER(LTRIM(RTRIM(Crt.[Source])))

    WHERE Crt.[Table_Name] IS NOT NULL;


    SELECT DISTINCT
        @loaded_by = Loaded_By
    FROM #wh_stg_Dim_Table;


    MERGE INTO [lm_prd].[Dim_Table] AS TGT

    USING #wh_stg_Dim_Table AS SRC

    ON (
        SRC.[Source_Name] = TGT.[Source_Name]
        AND SRC.[Database_Name] = TGT.[Database_Name]
        AND SRC.[Table_Name] = TGT.[Table_Name]
        AND LTRIM(RTRIM(LOWER(SRC.[Column_Name_Source])))
            = TGT.[Column_Name_Source]
    )

    WHEN NOT MATCHED THEN

        INSERT
        (
            [Source_Name],
            [Database_Name],
            [Table_Name],
            [Column_Name_Source],
            [Date_loaded],
            [Loaded_By]
        )

        VALUES
        (
            SRC.[Source_Name],
            SRC.[Database_Name],
            SRC.[Table_Name],
            LTRIM(RTRIM(LOWER(SRC.[Column_Name_Source]))),
            SRC.[Date_loaded],
            SRC.[Loaded_By]
        );

END TRY

BEGIN CATCH
    THROW;
END CATCH;
GO

-- Merge Fact rules

CREATE OR ALTER PROCEDURE [lm_prd].[Merge_FactRules]
    @Source varchar(250),
    @Database_Name varchar(250),
    @Table_Name varchar(250),
    @Snapshot_date date
AS
BEGIN TRY

    DECLARE @loaded_by varchar(200);


    /* Remove existing results for the same table and snapshot */
    DELETE FROM [lm_prd].[Fact_Rules]

    WHERE TableKey IN
    (
        SELECT DISTINCT Tablekey

        FROM [lm_prd].[Dim_Table]

        WHERE [Database_Name] = @Database_Name
          AND [Table_Name] = @Table_Name
          AND [Source_Name] = @Source
    )

    AND [Snapshot_Date] = @Snapshot_date;


    /* Insert fresh profiling results */
    INSERT INTO [lm_prd].[Fact_Rules]
    (
        [Rule_ID],
        [Tablekey],
        [Snapshot_Date],
        [Pass_Count],
        [Fail_Count],
        [Source_Org_ID],
        [Date_Loaded],
        [Loaded_By]
    )

    SELECT
        fact.[Rule_ID],
        fact.[TableKey],
        fact.[Snapshot_Date],
        fact.[Pass_Count],
        fact.[Fail_Count],
        org.[Source_Org_ID],
        fact.[Date_Loaded],
        fact.[Loaded_By]

    FROM [lm_prd].[stg_Fact_Rules] fact

    LEFT JOIN [lm_prd].[Dim_Source_Org] org

        ON fact.[Source_Name] = org.[Source_Name]
        AND fact.[Source_Org_Name] = org.[Source_Org_Name]

    WHERE fact.[Source_Name] = @Source
      AND fact.[Database_Name] = @Database_Name
      AND fact.[Table_Name] = @Table_Name;

END TRY

BEGIN CATCH
    THROW;
END CATCH;
GO